/*-----------------
| Default
------------------*/
#container{
	width: 320px;
	min-height: 430px;
 
	margin: 0 auto;

	position: relative;
	background-color:  #CFEBFF;
}
/*-----------------
| Game
------------------*/
#tic-tac-toe .disable {
	text-transform:uppercase; 
	font-size:30px; 
	font-family:Georgia, "Times New Roman", Times, serif;
}
#tic-tac-toe #game li {
	list-style:none; 
	text-align:center; 

	height:60px; 
	line-height:60px; 
	font-size:40px; 
	color: #3C6BA7;

	width: 85px;

	padding-top: 0px;
	margin-left: 4%;
	margin-top: 2%;
}
#tic-tac-toe #game li.disable {
	color:#3C6BA7;

	margin-top: 2%;
}
#tic-tac-toe #game {
	float:left; 
	padding:0; 
	clear:both;

	margin-bottom: 5%;
	background-image: url(../_img/board.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 83%;
}
/*.new_span {
	width:226px;
}*/
#tic-tac-toe #reset, #back{ 
	font-family:Arial, Helvetica, sans-serif; 
	font-size:20px; 

	background-color: #314F91;
	width:92%;

	float:left;
	padding:0%; 
	clear:both; 

	color:#fff; 
	cursor:pointer; 
 
	text-align:center; 
	text-transform:uppercase;

	border: none;
	outline:none; 
	margin-bottom: 2%;
}
#reset: {	
	margin-top: 1%;
}
.clr {
	clear:both; 
	height:0;
}
/*------------------------THEME START-------------------------*/
#tic-tac-toe {
	background-color: #CFEBFF;
}
/*-----------------
| .btn-primary
------------------*/
#tic-tac-toe #game li.disable.btn-primary {
	color:#3C6BA7;
}
/*-----------------
| .btn-info
------------------*/
#tic-tac-toe #game li.disable.btn-info {
	color:#3867A7;
}
#tic-tac-toe #game li.disable.btn-info  {
	background-color: #A2CBE6;
	border: #84A7C0;
}
#tic-tac-toe #game li.disable.btn-info:hover {
	background-color: #66A1C1;
}
#tic-tac-toe #game li.disable.btn-info:active{
	background-color: #66A1C1;
}

#tic-tac-toe #game li.disable.btn-info:focus{
	background-color: #66A1C1;
}

/*------------------------THEME END-------------------------*/

/*-----------------
| Webkits
------------------*/
#tic-tac-toe li::-moz-selection {
	background:none;
	color:#000;
}
#tic-tac-toe li::-webkit-selection {
	background:none;
	color:#000;
}

/*-----------------
| Text
------------------*/
.whole {
	float: left;
	text-align: center;

	width: 50%;
	font-size: 20px;

	padding: 2%;
	text-align: center;

}
.input-append .win_times { 
	width:101px;
	margin: 5px;
}
h1 {
	width: 220px;

	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
.row {
	margin-left: 0px;
	margin-right: 0px;
}
#game {
	margin-left: 5px;
}
.title {
	color: #314F91;
	border-bottom: solid 2px #314F91;
	margin-bottom: 5%;
}
/*-----------------
| Links
------------------*/
#reset, #back {
	margin-left: 10px;
}
#back {
	margin-top: 5px;
}
#pvp, #pve, #theme, #fB, #home {
	font-family:Arial, Helvetica, sans-serif; 
	font-size:20px; 

	background-color: #314F91;
	width:90%;

	margin-left: 5%;
	margin-bottom: 5%;
	clear:both; 

	color:#fff; 
	cursor:pointer; 
 
	text-align:center; 
	text-transform: none;

	border: none;
	outline:none; 
}


/*--------------------------------------------------------------------------------------------------------*/

#restart {
    margin-left: 3%;




    font-family:Arial, Helvetica, sans-serif; 
	font-size:20px; 

	background-color: #314F91;
	width:92%;

	float:left;
	padding:0%; 
	clear:both; 

	color:#fff; 
	cursor:pointer; 
 
	text-align:center; 
	text-transform:uppercase;
	border-radius: 4px;
	border: none;
	outline:none; 
	margin-bottom: 2%;
}
/* BOARD STYLES */
 #board-outer {
    height: 350px;
    width: 350px;
    background-color:none;
    overflow: hidden;
    margin-bottom: 1%;
}
#board {
    width: 80%;
    height: auto;
    background-color:none;
    border-spacing:0;

    margin-left: 6%;
}
td {
    height: 100px;
    width: 100px;
    text-align: center;
    font-family: sans-serif;
    font-size: 40pt;
    border-collapse: collapse;
    border: 2px solid #000000;
    text-transform: uppercase;
    color: #999999;
}
.x {
    width: 100%;
    height: 100%;
    background-color: blue;
}
.o {
    width: 100%;
    height: 100%;
}
/*-----------------
| Header
------------------*/
.hva {
	margin-left: 15%;
	margin-top: .5%;
	padding-bottom: .5%;
	margin-bottom: .5%;
}
.pvptitle {
	padding-bottom: 2%;
}
/*-----------------
| Board
------------------*/
.rowStyle {
    border-collapse: collapse;
    border: 2px solid #B9E9F0;
    text-transform: uppercase;
    color: #999999;
}

/*-----------------
| Transparent
------------------*/
#tic-tac-toe #game li.disable.btn-info {
	color:#3867A7;
}
#tic-tac-toe #game li.disable.btn-info  {
	background-color: transparent;
	border: transparent;
}
#tic-tac-toe #game li.disable.btn-info:hover {
	background-color: transparent;
}
#tic-tac-toe #game li.disable.btn-info:active{
	background-color: transparent;
}

#tic-tac-toe #game li.disable.btn-info:focus{
	background-color: transparent;
}
.btn-primary {
	background-color: transparent;
	border: transparent;
}
#tic-tac-toe #game li.disable.btn-primary:hover {
	background-color: transparent;
}
#tic-tac-toe #game li.disable.btn-primary:active{
	background-color: transparent;
}

#tic-tac-toe #game li.disable.btn-primary:focus{
	background-color: transparent;
}
/*-----------------
| BORDER REFINE
------------------*/
#a1 {
	border-top: none;
	border-left: none;
}
#a2 {
	border-top: none;
}
#a3 {
	border-top: none;
	border-right: none;
}
#b1 {
	border-left: none;
}
#b3 {
	border-right: none;
}
#c1 {
	border-left: none;
	border-bottom:none;
}
#c2 {
	border-bottom: none;
}
#c3 {
	border-bottom: none;
	border-right: none;
}
/*-----------------
| Screensize
------------------*/
/*#container{
	width: 100%;
	height: 640px;
 
	margin: 0 auto;

	position: relative;
	background-color:  #CFEBFF;
}*/
/*-----------------
| Media Queries
------------------*/
/*@media screen and (min-width: 300px) {
	body {
		width: 20%;
	}



	}*/


}